# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

 __Objectives:__

 - Popular Languages in Data Science
 - Data Science Libraries
 - Data Science Tools
 - Simple Arithmetic Expressions

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Java
4. SQL
5. Scala

Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Pandas
3. Matplotlip
4. Seaborn

| Data Science Tools |
|--------------------|
| Jupyter Notebook |
| RStudio |
| MySQL |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
#This a simple arithmetic expression to mutiply then add integers.

(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by dividing by 60.

200//60

3

## Author
-------------
Christian Otoo